@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-bottom: 1rem;

    &__avi {
        width: calc((100% - 4rem)/5);
        aspect-ratio: 1;
        background-color: red;
        border-radius: 50%;
    }
}

.cards {

    &__title {
        margin: 1rem 0;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    &__item {
        width: calc((100% - 2rem)/3);
        aspect-ratio: 2 / 3;
        background-color: red;
        border-radius: 16px;
    }
}