@use '../../styles/partials/variables' as *;

.input {
    border: $gray;
    width: 100%;
    background-color: $gray;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 0.5rem 0;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}