@use '../../styles/partials/variables' as *;

.name {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $gray;
    padding: 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
        font-size: 1.5rem;
    }
}