@use '../../styles/partials/variables' as *;

.button {
    border: none;
    width: 100%;
    background-color: $teal;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 0.5rem 0;

    &:hover {
        background-color: $blue;
        cursor: pointer;
    }

    &[disabled] {
        background-color: gray;
        cursor: auto;
    }

    &--secondary {
        background-color: transparent;
        color: $blue;
        
        &:hover {
            background-color: transparent;
            border: 2px solid $blue;
            padding: 0.875rem;
        }
    }
}