@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.info {
    &__title {
        margin-bottom: 0.5rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        column-gap: 1.5rem;
        flex-grow: 1;
    }

    &__image {
        width: 33%;
        aspect-ratio: 2 / 3;
        border-radius: 8px;
        flex-shrink: 0;
    }
}