@use '../../styles/partials/variables' as *;

.main {
    &--room {
        display: flex;
        flex-direction: column;
    }
}

.room-code {
    margin: 1rem 0;
}

.players {
    flex-grow: 1;
    padding: 1rem;

    &__title {
        margin-bottom: 1rem;
    }

    &__list {
        margin: 0 2rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin: 0.75rem 0;
    }

    &__name {
        font-size: 1.05rem;

        &:has(+ .players__x:hover) {
            text-decoration: line-through;
        }
    }

    &__x {
        font-size: 1.25rem;
        color: $blue;
        cursor: pointer;

        &:hover {
            color: red;
            font-weight: 700;
        }
    }
}