@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main {
    &--tjform {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}